
$base: #FFD302;
$bgcolor: #F4F4F4;
$navcolor: #F5F5F5;
// button styles
$btncolor: #3A3A3A;
$btnclicked: #464646;

//font colors
$grayfont: #999;
$size-xsm: 12px;
$size-sm: 14px;
$size-md: 16px;
$size-lg: 18px;

// nav
$border: #E2E8EA;


// icon
$iconprimary: #1EADFC;
$icondanger: #FA8141;
$iconwarning: #FFD966;
$iconinfo: #64CC7A;