	@import '@/theme.scss';
	.m-collapse{
		/deep/ .uni-collapse-cell__title{
			background-color: #FFF;
		}
	}
	.m-collapse-row{
		padding: 10px;
		display: flex;
		justify-content: space-between;
		.title{
			width: 100px;
			display: inline-block;
		}
		&:nth-child(2n){
			background-color: #FFF;
		}
	}