@font-face {
  font-family: 'iconfont';  /* project id 1862621 */
  src: url('//at.alicdn.com/t/font_1862621_dz3yuicasx.eot');
  src: url('//at.alicdn.com/t/font_1862621_dz3yuicasx.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1862621_dz3yuicasx.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1862621_dz3yuicasx.woff') format('woff'),
  url('//at.alicdn.com/t/font_1862621_dz3yuicasx.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1862621_dz3yuicasx.svg#iconfont') format('svg');
}

.iconfont{
	font-family:"iconfont";
	font-size:14px;
	font-style:normal;
}